body{
  background-color: #000000
  font-family: 'Roboto';
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

li{
  display: inline;
}

.IPAd-Pictures {
  background-color: #000000;
  display: grid;
  grid-gap: 50px;
  width: 50px;
  grid-template-columns: repeat(2, 2fr);
	padding: 5vh;
}

@media screen and (max-width: 600px) {
  body {
    background-color: #39014D;
  }
}
