/*Breakindex.css*/

body{
  background-color: #000000
  font-family: 'Roboto';
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

.Dance-Pictures {
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
	padding: 10vh;
}
